.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: rgb(73, 73, 73);
    margin-bottom: 50px; 
    --c:linear-gradient(#919191 0 0);
    padding-bottom: .38em;
    background: var(--c), var(--c);
    background-size: 51% .1em;
    background-position: 0% 100%, 100% 100%;
    background-repeat: no-repeat;
    transition: .3s linear, background-size .3s .2s linear;
}

.body {
    display: flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
}
  
.text {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 70%;
}

.school-name {
    text-align: left;
    font-size: 3vw; 
    margin-top: 1%;
    margin-left: 5%;
}

 
