<div class="main">

    <h1 class="title">Education</h1>
    
    <!-- <div class="cards">
        <mat-card class="cards__card" >
            <img class="image" mat-card-md-image src="./../../assets/bostonuniversity2.jpg">
            <mat-card-header>
                <mat-card-title-group>
                <mat-card-title class="card-title">Boston University</mat-card-title>
                <mat-card-subtitle class="card-subtitle">Boston, MA | 2021 - 2024</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="card-content">
                asdjupaotas opsitjastoiauypp aunostoa
            </mat-card-content>
        </mat-card>
    
        <mat-card class="cards__card">
            
            <mat-card-header>
                <mat-card-title-group>
                <mat-card-title class="card-title">College of Charleston</mat-card-title>
                <mat-card-subtitle class="card-subtitle">Charleston, SC | 2020 - 2021</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="card-content">
                asdjupaotas opsitjastoiauypp aunostoa
            </mat-card-content>
        </mat-card>
    
        <mat-card class="cards__card">
            <img class="image" mat-card-md-image src="./../../assets/stjohns1.jpg">
            <mat-card-header>
                <mat-card-title-group>
                <mat-card-title class="card-title">St. John's College High School</mat-card-title>
                <mat-card-subtitle class="card-subtitle">Washington, DC | 2016 - 2020</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="card-content">
                asdjupaotas opsitjastoiauypp aunostoa            
            </mat-card-content>
        </mat-card>
    </div> -->

    <div class="body">

        <div class="text">
            <h2 class="school-name">Boston University</h2>
            <p class="description">
            </p>
        </div>

        <div class="images">
            <img class="image" mat-card-md-image src="./../../assets/bostonuniversity2.jpg">
            <img class="image" mat-card-md-image src="./../../assets/charleston1.jpg">
            <img class="image" mat-card-md-image src="./../../assets/stjohns1.jpg">

        </div>
    </div>
    
</div>
