@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

/* Navbar properties */
.navbar {
    background-color: #1E355E;
    height: 75px;
}

.example-spacer {
    flex: 1 1 auto;
  }

.button {
    font-size: 15px;
    margin: 5px;
}

.socials {
    display: flex;
    column-gap: 5px;
}

.icon {
    color: white;
}

.header {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2.5px;
    margin: 20px;
    color: rgb(73, 73, 73);
}

.footer {
    height: 125px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    opacity: 1;
    background: #1E355E;
    display: flex;
    align-items: center;
}

.aboutme {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    align-items: center;
    /* border: 1px black solid; */
}

.contact {
    float: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 2%;
    color: white;
}

/* Animation Properties */
*{
    margin: 0px;
    padding: 0px;
    
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(187, 186, 186, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 80px;
    height: 80px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

/* Html properties */
}
html, body { 
    height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }
