<div class="main">
    
    <mat-card class="card">
        <img class="image" mat-card-md-image src="./../../assets/matrix.jpg" alt="Image of a Shiba Inu">
        <mat-card-header>
            <mat-card-title-group>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Medium</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            asdjupaotas opsitjastoiauypp aunostoa
        </mat-card-content>
        </mat-card>

</div>
