<div class="main">

    <h1 class="title">Experience</h1>
    
    <div class="cards">
        <mat-card appMaterialElevation class="card" [ngClass]="{'selected-card':titleSelected === 'title1'}">
            <img class="image" mat-card-md-image src="./../../assets/matrix1.jpg" alt="Image of a Shiba Inu">
            <mat-card-header>
                <mat-card-title-group>
                <mat-card-title class="card-title">Software Engineer Intern</mat-card-title>
                <mat-card-subtitle class="card-subtitle">Matrix Applications LLC</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="card-content">
                asdjupaotas opsitjastoiauypp aunostoa
            </mat-card-content>
        </mat-card>
    
        <mat-card appMaterialElevation class="card" [ngClass]="{'selected-card':titleSelected === 'title2'}">
            <img class="image" mat-card-md-image src="./../../assets/questrom1.jpg" alt="Image of a Shiba Inu">
            <mat-card-header>
                <mat-card-title-group>
                <mat-card-title class="card-title">Telecommunications Assistant</mat-card-title>
                <mat-card-subtitle class="card-subtitle">BU Student Philanthropy Center</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="card-content">
                asdjupaotas opsitjastoiauypp aunostoa
            </mat-card-content>
        </mat-card>
    
        <mat-card appMaterialElevation class="card" [ngClass]="{'selected-card':titleSelected === 'title3'}">
            <img class="image" mat-card-md-image src="./../../assets/tennistar1.jpg" alt="Image of a Shiba Inu">
            <mat-card-header>
                <mat-card-title-group>
                <mat-card-title class="card-title">Office Assistant</mat-card-title>
                <mat-card-subtitle class="card-subtitle">TenniStar/Promenade Tennis Club</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="card-content">
                asdjupaotas opsitjastoiauypp aunostoa
            </mat-card-content>
        </mat-card>
    </div>
</div>
