<div class="main">

    <h1 class="title" @fade>Projects</h1>

    <div class="body" @fade2>
        <div class="text">
            <h2 class="name">Election Narrative Analyzer</h2>
                <div class="subtext">
                    <p>2024</p>
                    <p> | </p>
                    <p>Tools: Python, Google Cloud Services</p>
                    <p> | </p>
                    <a href="https://github.com/BU-Spark/ds-donovan-election-narratives/tree/team-c-final-report/sp24-team-c" target="_blank">Visit Project Repository</a>
                </div>
                <p class="description">
                    I worked together with a small team of developers in collaboration with BU Spark! to deliver an application that analyzed the sentiment and narratives used by each political party in the 2024 Massachusetts Senate elections.
                    I was personally responsible for creating an API that interfaced with various Google Cloud services to parse through emails, collect data on the key words being used, and reformat the data in a way that could be easily analyzed.
                </p>
            
            <h2 class="name">This Website!</h2>
                <div class="subtext">
                    <p>2023-present</p>
                    <p> | </p>
                    <p>Tools: Angular, HTML, CSS</p>
                    <p> | </p>
                    <a href="https://github.com/josephmitchel/My-Website" target="_blank">Visit Project Repository</a>
                </div>
                <p class="description">
                    I made this website myself as a personal project and a way to offer a little more information about myself than what can be found on my resume.
                    Feel free to check out the repository and see how I built it!
                </p>
        </div>
    </div>
</div>
