.main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(73, 73, 73);
    margin-bottom: 3%;
    --c:linear-gradient(#919191 0 0); /* update the color here */
    padding-bottom: .38em;
    background: var(--c), var(--c);
    background-size: 51% .1em;
    background-position: 0% 100%, 100% 100%;
    background-repeat: no-repeat;
}

.body {
    display: flex;
    flex-direction: row;
}
  
.text {
    display: flex;
    flex-direction: column;
}
  
.name {
    text-align: left;
    font-size: 35px; 
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.subtext {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 12px; 
    margin-top: -0.5%;
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(112, 112, 112);
}

.subtext p,
.subtext a {
    margin-right: 5px;
}

a:link, a:visited {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

a:active {
    color: #0056b3;
}

.description {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -0.5%;
    color:rgb(48, 48, 48);
    font-size: 17px; 
    /* margin-top: 1%; */
    line-height: 1.5;
}


