.page {
	width: 100%;
	height: 100%;
}

*, *:after, *:before {
	box-sizing: border-box;
}

.post {
	display: flex;
	text-decoration: none;
	color: inherit;
	max-width: 400px;
	position: relative;
	padding: 2rem;
	box-shadow: inset 0 0 0 4px #000, inset -4px -4px 0 6px #CCC;
	background-color: #FFF;
	cursor: pointer; 
}

.post-title {
	position: relative;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.333;
	transition: .4s ease-out;
    font-family: "DM Sans", sans-serif;
}
  