<div class="main">

    <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
        </mat-card-header>
        <mat-card-content>
          <p class="description">
            My name's Joseph Mitchell, but I usually go by Joe! I'm a software engineer with a passion for learning and creating. 
            I'm originally from Washington, DC but I currently live in Boston where I'm finishing up my senior year of undergrad.
            I'm looking for a full-time software engineering position where I can apply all of the knowledge I've gained over the years.
          </p>

          <p class="interests">
            Some of my interests include web development, machine learning, and data science. 
            I also love writing my own music, practicing guitar, and playing tennis!
          </p>
        </mat-card-content>
      </mat-card>
      
</div>



