.main {
    /* border: 1px solid black; */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: rgb(73, 73, 73);
  margin-bottom: 3%;
  --c:linear-gradient(#919191 0 0); /* update the color here */
  padding-bottom: .38em;
  background: var(--c), var(--c);
  background-size: 51% .1em;
  background-position: 0% 100%, 100% 100%;
  background-repeat: no-repeat;
}

.header-image {
  background-image: url('./../../assets/Joe.jpeg');
  background-size: cover;
  background-position: center;
  width: 15em;
  height: 15em;
  margin-left: 15%;
}

.body {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.text {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.images {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.name {
  text-align: left;
  font-size: 35px; 
  margin-top: 1%;
  margin-left: 5%;
}

.description {
  text-align: left;
  margin-left: 5%;
  color:rgb(48, 48, 48);
  font-size: 19px; 
  margin-top: 1%;
  line-height: 1.5;
}