<div class="main">

    <h1 class="title" @fade>About Me</h1>

    <div class="body">

      <div class="text" @fade2>
        <h2 class="name">Hi!</h2>
        <p class="description">
          My name is Joseph Mitchell and I'm a Software Engineer based in New York City. 
          I'm originally from Washington, DC and recently graduated from Boston University with a degree in Computer Science. 
          Currently, I'm employed at Matrix Applications LLC, a fintech leader in the fixed income capital markets, where I work on front-end development and data visualization.
          
        </p>
        <p class="description">
          Outside of work, I enjoy staying active through exercise as best as I can by working out, playing tennis, and indoor bouldering.
          Additionally, I love practicing guitar, writing my own music, and reading.
        </p>
        <p class="description">
          Feel free to connect with me on LinkedIn, Instagram, or Github! For any inquiries, please reach out to me via email.
        </p>
      </div>

      <div class="images" @fade3>
        <div class="header-image"></div>
        <!-- <img class="image" src="./../../assets/Joe.jpeg">  -->
      </div>
    </div>
    

    
      
</div>



